.site-drawer-render-in-current-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 0;
  overflow: hidden;
  text-align: center;
  background: #fff;
  border: 0;
  border-radius: 0px;
}


.map-left {
  position: relative;
  float: left;
  height: 100vh;
  width: 50%;
  padding: 0;
  overflow: hidden;
  text-align: center;
  background: #fff;
  border: 0;
  border-radius: 0px;
}

.map-right {
  position: relative;
  float: right;
  height: 100%;
  width: 50%;
  padding: 0;
  overflow: hidden;
  text-align: center;
  background: #fff;
  border: 0;
  border-radius: 0px;
}

.table-left {
  position: relative;
  float: left;
  height: 100%;
  width: 70%;
  padding: 0;
  overflow: hidden;
  text-align: center;
  background: #fff;
  border: 0;
  border-radius: 0px;
}

.table-right {
  position: relative;
  float: right;
  height: 100%;
  width: 30%;
  padding: 0;
  overflow: hidden;
  text-align: center;
  background: #fff;
  border: 0;
  border-radius: 0px;
}

.static-left {
  position: absolute;
  left: 35%;
  height: 100%;
  width: 15%;
  padding: 0;
  overflow: hidden;
  text-align: center;
  background: #fff;
  border: 0;
  border-radius: 0px;
  z-index: 999;
}

.static-right {
  position: absolute;
  left: 50%;
  height: 100%;
  width: 15%;
  padding: 0;
  overflow: hidden;
  text-align: center;
  background: #fff;
  border: 0;
  border-radius: 0px;
  z-index: 999;
}